// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    padding:22px 25px 22px 25px;
    background-color: #353535;
   
    bottom: 0;
    color:white;
    width: 100%;    
}