/*HEADER*/
header {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
}
/*HOMEPAGE*/
.homepage {
    .logo-return {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    .fa-arrow-left {
        display: none;
    }
}
/*MENU*/
.menu {
    .logo-return {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .fa-arrow-left {
        display: flex;
        margin-left: 23px;
    }

    .logo-menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
/*LOCATION*/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    padding: 15px 0 15px 0;
}

.fa-location-dot {
    margin-right: 17px;
}