// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    display:flex;
    flex-direction:column;
}
.logo-retour {
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
}
.fa-arrow-left {
    display:none;
}
.location{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}
.fa-location-dot{
    margin-right:17px;
}