@media screen and (min-width:992px) {
    .fonctionnement-trois {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:5%;
    }

    .fonctionnement {
        width: 320px;
    }

    .all-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
    .card-restaurants {
        width: 45%;
        height: 280px;
        display: flex;
        justify-content: space-between;
        }
    
    a {
        width: 100%;
        height: 70%;
    }
    .top-card {
        height: 100%;
    }
    .img-card{
        height: 100%;
    }
    .heart .empty {
        bottom:30px;
    }
    .heart .full {
        bottom: 30px;
    }
    footer{
        position: relative;
        height: 114px;
    }
    .start-footer{
        display: flex;
        white-space: nowrap;
        justify-content: center;
        gap:10%;
        position: absolute;
        bottom: 27px;
        right: 440px;
    }
    .end-footer{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        justify-content: center;
        gap:10%;
        position: absolute;
        bottom: 33px;
        right: 180px;
    }
    .logo{
        position: absolute;
        bottom:30px;
        right:30px;
    }
    .background-menu{
        margin: 0px 8%;
    }

}