/*Couleur*/
$background:#F6F6F6;
$main-color:#9356DC;
$secondary-color:#99E2D0;

/// Container's maximum width






/// Breakpoints map






/// Relative or absolute URL where all assets are served from
