/*BOOK*/
.book {
    background-color: $background;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 40px;

    .h1 {
        padding: 0 60px 0 60px;
    }
}

/*Functioning*/
.all-functioning {
    padding: 48px 8% 68px 8%;
}

.functioning {
    background: $background;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
    padding: 28px 38px 28px 0;
}

.number-functioning {
    background-color: $main-color;
    border-radius: 20px;
    position: relative;
    right: 10px;
    padding: 4px 8px;
    color: white;
}

.icone-grey {
    color: $icone-grey;
}

.icone-color {
    color: $main-color;
}

/*RESTAURANTS*/

.all-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.restaurants{
    background-color: $background;
}
.restaurants-all-card{
    padding: 55px 8% 55px 8%;
}
