/*Couleur*/ /*Rien pour le moment*/
body {
  margin: 14px 0px 22px 0px;
  background-color: white;
  padding: 0;
  min-height: 100vh;
  /*pour footer*/
}

html {
  min-width: 375px;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

/*Inutile ?*/
body {
  font-family: "Roboto", sans-serif;
}

.homepage h1 {
  font: 700 24px "Roboto";
}
.homepage h2 {
  font: 300 18px "Roboto";
}
.homepage h3 {
  font: 500 16px "Roboto";
}
.homepage h4 {
  font: 700 18px "Roboto";
}
.homepage h5 {
  font: 400 italic 18px "Shrikhand";
}
.homepage p {
  font: 300 17px "Roboto";
}
.homepage .numero-fonctionnement, .homepage .btn-nouveau {
  font: 500 14px "Roboto";
}
.homepage .end-footer {
  font: 400 16px "Roboto";
}
.homepage .lettres, .homepage .lettres-empty {
  font: 400 italic 30px "Shrikhand";
}

.menu h1 {
  font: 400 italic 28px "Shrikhand";
}
.menu h2 {
  font: 300 16px "Roboto";
}
.menu h3, .menu #restaurants {
  font: 500 18px "Roboto";
}
.menu p {
  font: 300 15px "Roboto";
}
.menu .prix {
  font: 700 15px "Roboto";
}
.menu h5 {
  font: 400 italic 18px "Shrikhand";
}

/* LOGO ET TITRE : SHRIKHAND TEXTE:ROBOTO*/
header {
  display: flex;
  flex-direction: column;
}

.homepage .logo-retour {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.homepage .fa-arrow-left {
  display: none;
}

.menu .logo-retour {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-bottom: 5px;
}
.menu .fa-arrow-left {
  display: flex;
  margin-left: 23px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 15px 0 15px 0;
}

.fa-location-dot {
  margin-right: 17px;
}

footer {
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  width: 100%;
  margin-bottom: -22px;
}

.logo {
  margin: 0;
}

.start-footer {
  padding-top: 16px;
}

.i-text {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 7px;
}

.footer-text {
  margin: 0;
}

.icone-footer {
  width: 11px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.end-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

a > p {
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(356deg, #9356DC, #FF79DA 123.93%);
  border-radius: 25px;
  padding: 13px 18.5px;
  width: 218px;
  height: 50px;
  color: white;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 24px 0 52px 0;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: brightness(105%);
}

.card-restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.img-card {
  width: 100%;
  height: 70%;
  aspect-ratio: 2/1;
  border-radius: 15px 15px 0 0;
}

.btn-nouveau {
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px 6px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.hide {
  visibility: hidden;
}

.bottom-card-text {
  padding: 16px 13px 12px 13px;
}

.heart i {
  transition: all 0.6s ease-in-out;
}

.heart .empty {
  font-weight: 200;
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  right: 25px;
  opacity: 1;
  overflow: hidden;
}

.heart .full {
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  bottom: 20px;
  right: 25px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  transform: translateY(10%);
}

.heart:hover .full {
  opacity: 1;
  transform: translateY(0%);
}

.heart:hover .empty {
  opacity: 0;
  overflow: hidden;
}

/*Menu*/
.card-menu {
  display: grid;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px 15px 12px 15px;
  gap: 5px;
  margin-top: 12px;
}

.card-menu-entrees {
  animation: card-animation-entrees 1s;
}

.card-menu-plats {
  animation: card-animation-plats 1s;
}

.card-menu-desserts {
  animation: card-animation-desserts 1s;
}

@keyframes card-animation-entrees {
  0% {
    transform: translate(500px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes card-animation-plats {
  0% {
    transform: translate(1000px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes card-animation-desserts {
  0% {
    transform: translate(1500px);
  }
  100% {
    transform: translate(0px);
  }
}
.bottom-card {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
}

.name-restaurant {
  position: relative;
}

.menu .heart {
  position: absolute;
  bottom: -12px;
  right: 20px;
}

.menu .btn {
  margin: 24px 0 40px 0;
}

.card-menu {
  position: relative;
  overflow: hidden;
}
.card-menu .check {
  position: absolute;
  visibility: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  top: 0px;
  right: 0px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}
.card-menu .fa-circle-check {
  font-size: 20px;
  color: white;
}

.card-menu:hover .check {
  visibility: visible;
  animation: check-menu 70ms ease-in-out;
}
.card-menu:hover .bottom-card {
  gap: 5%;
  justify-content: flex-start;
}
.card-menu:hover .accompagnement {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.card-menu:hover .prix {
  width: 35%;
  animation: check-menu 70ms ease-in-out;
}

@keyframes check-menu {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  animation: disapear 1s forwards 4s;
  z-index: 5;
}

.loader .lettres {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500%;
  animation: animate 4s linear infinite;
  text-align: center;
  width: 100%;
  font-size: 50px;
  top: 40%;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}
@keyframes disapear {
  0% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
.loading {
  position: absolute;
  bottom: 40%;
}

.circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  animation: loading 1.5s infinite;
  transform-origin: bottom;
  position: relative;
  margin: 0 5px;
}

@keyframes loading {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
    height: 17px;
    width: 16px;
  }
  100% {
    transform: translateY(0px);
    height: 16px;
    width: 18px;
  }
}
.circle-one {
  animation-delay: 0.1s;
}

.circle-two {
  animation-delay: 0.25s;
}

.circle-three {
  animation-delay: 0.4s;
}

.reservez {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 40px;
}

.all-fonctionnement {
  padding: 48px 20px 68px 20px;
}

.fonctionnement {
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  padding: 28px 0 28px 0;
}

.numero-fonctionnement {
  background-color: #9356DC;
  border-radius: 20px;
  position: relative;
  right: 10px;
  padding: 4px 8px;
  color: white;
}

.icone-grey {
  color: #7E7E7E;
}

.icone-color {
  color: #9356DC;
}

.all-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 55px 15px 55px 15px;
}

.background-menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding: 0px 13px;
  position: relative;
  bottom: 60px;
}

.name-restaurant {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu h2 {
  margin-top: 40px;
}
.menu h2:after {
  content: "";
  position: relative;
  left: 0px;
  bottom: 5px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 12px;
  display: block;
}

.center {
  display: flex;
  justify-content: center;
}