/*Couleur*/ /*Rien pour le moment*/
body {
  margin: 14px 0px 22px 0px;
  padding: 0;
  min-height: 100vh;
  /*pour footer*/
}

html {
  max-width: 375px;
}

h1, h4, p {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

/*Inutile ?*/
body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", sans-serif;
}

.homepage h1 {
  font: 700 24px "Roboto";
}
.homepage h2 {
  font: 300 18px "Roboto";
}
.homepage h3 {
  font: 500 16px "Roboto";
}
.homepage h4 {
  font: 700 18px "Roboto";
}
.homepage h5 {
  font: 400 italic 18px "Shrikhand";
}
.homepage p {
  font: 300 17px "Roboto";
}
.homepage .numero-fonctionnement, .homepage .btn-nouveau {
  font: 500 14px "Roboto";
}
.homepage .end-footer {
  font: 400 16px "Roboto";
}

.menu h1 {
  font: 400 italic 28px "Shrikhand";
}
.menu h2 {
  font: 300 16px "Roboto";
}
.menu h3 {
  font: 300 15px "Roboto";
}
.menu .prix {
  font: 700 15px "Roboto";
}

/* LOGO ET TITRE : SHRIKHAND TEXTE:ROBOTO*/
header {
  display: flex;
  flex-direction: column;
}

.logo-retour {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.fa-arrow-left {
  display: none;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}

.fa-location-dot {
  margin-right: 17px;
}

footer {
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  position: relative;
  bottom: 0;
  color: white;
  width: 100%;
}

.logo {
  margin: 0;
}

.start-footer {
  padding-top: 16px;
}

.i-text {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 7px;
}

.footer-text {
  margin: 0;
}

.icone-footer {
  width: 11px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.end-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(356deg, #9356DC, #FF79DA 123.93%);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  color: white;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 24px 0 52px 0;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: brightness(105%);
}

.card-restaurants {
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 340px;
  height: 251px;
}

.img-card {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 15px 15px 0 0;
}

.btn-nouveau {
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px 6px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative;
  bottom: 156px;
  left: 256px;
}

.hide {
  visibility: hidden;
}

.bottom-card-text {
  padding-left: 13px;
}

.heart {
  position: relative;
}

.heart i {
  transition: all 0.6s ease-in-out;
}

.heart .empty {
  background: white;
  font-weight: 200;
  font-size: 22px;
  position: absolute;
  bottom: 0px;
  right: 25px;
  opacity: 1;
}

.heart .full {
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  bottom: 0px;
  right: 25px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
}

.heart:hover .full {
  opacity: 1;
}

.heart:hover .empty {
  opacity: 0;
}

.reservez {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 40px;
}

.all-fonctionnement {
  padding: 48px 20px 68px 20px;
}

.fonctionnement {
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}

.numero-fonctionnement {
  background-color: #9356DC;
  border-radius: 20px;
  position: relative;
  right: 10px;
  padding: 4px 8px;
  color: white;
}

.icone-grey {
  color: #7E7E7E;
}

.icone-color {
  color: #9356DC;
}

.all-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 55px 15px 55px 15px;
}