
body{
  margin:14px 0px 22px 0px;
  padding: 0;
  min-height: 100vh;;
  /*pour footer*/
}

html {
  max-width: 375px;
}

h1,h2,h3, h4, p{
  margin:0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img{
  object-fit:cover;
}

a{
  text-decoration:none;
  color:black;
}