html,
body {
  height: 100%;
}
body{
  margin:14px 0px 22px 0px;
  padding: 0;
  /*pour footer*/
}

html {
  box-sizing: border-box;
  max-width: 375px;
}

h1, h4, p{
  margin:0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img{
  object-fit:cover;
}

