// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
.Ville .btn .category-fonctionnement .start-footerRoboto{
    font: 500 16px;
}


@font-face{
font-family:'Roboto';
font-family: 'Shrikhand';
src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
}
