// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(356deg, #9356DC, #FF79DA 123.93%);
    border-radius: 25px;
    padding: 13px 18.5px;
    width: 218px;
    height: 50px;
    color:white;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 24px 0 52px 0;
    &:hover{
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        filter: brightness(105%);
    }
}

.card-restaurants{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top:20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.img-card {
    width: 100%;
    height: 70%;
    aspect-ratio: 2/1;
    border-radius: 15px 15px 0 0;
}
.btn-nouveau{
    background-color: $secondary-color;
    color:#008766;
    padding: 7px 9px 6px 9px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position:absolute;
    top:15px;
    right:15px;
}
.hide{
    visibility: hidden;
}
.bottom-card-text{
    padding:16px 13px 12px 13px;
}

.heart i {
    transition: all 0.6s ease-in-out;
}

.heart .empty {
    font-weight: 200;
    font-size: 22px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    opacity: 1;
    overflow: hidden;
}

.heart .full {
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    bottom: 20px;
    right: 25px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient($main-color, #FF79DA);
    opacity: 0;
    transform: translateY(10%);
}

.heart:hover .full {
    opacity: 1;
    transform: translateY(0%);
}

.heart:hover .empty {
    opacity: 0;
    overflow: hidden;
}

/*Menu*/
.card-menu{ 
    display: grid;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 12px 15px 12px 15px;
    gap:5px;
    margin-top:12px;
}
.card-menu-entrees  {
    animation: card-animation-entrees 1s;
}
.card-menu-plats{
    animation: card-animation-plats 1s;
}
.card-menu-desserts{
    animation: card-animation-desserts 1s;
}
@keyframes card-animation-entrees{
    0% {
        transform: translate(500px)
    }
    100% {
        transform:translate(0px)
    }
}
@keyframes card-animation-plats {
    0% {
        transform: translate(1000px)
    }

    100% {
        transform: translate(0px)
    }
}
@keyframes card-animation-desserts {
    0% {
        transform: translate(1500px)
    }

    100% {
        transform: translate(0px)
    }
}


.bottom-card{
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
}
.name-restaurant{
    position: relative;
}
.menu .heart{
    position: absolute;
    bottom: -12px;
    right: 20px;
}
.menu .btn{
    margin: 24px 0 40px 0;
}



.card-menu{
    position:relative;
    overflow: hidden;
    .check {
        position: absolute;
        visibility: collapse;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59px;
        height: 100%;
        top: 0px;
        right: 0px;
        background: $secondary-color;
        border-radius: 0px 15px 15px 0px;
}
    .fa-circle-check {
        font-size: 20px;
        color: white;
}
}
.card-menu:hover{
    .check{
        visibility: visible;
        animation: check-menu 70ms ease-in-out;
    }
    .bottom-card{
        gap:5%;
        justify-content: flex-start;
    }
    .accompagnement {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
    .prix {
        width: 35%;
        animation: check-menu 70ms ease-in-out;
}
}

@keyframes check-menu {
    0%{
        transform: translateX(50px)
    }
    100%{
        transform: translateX(0px)
    }
}


.loader {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient($main-color, $tertiary-color);
    transition: 1s ease-in-out;
}
.loader:hover{
    background: black;
}
.lettres, .lettres-empty {
    display: flex;
    position:absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.lettres {
    background: linear-gradient($main-color, $tertiary-color);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    opacity: 0;
    animation: color 1s cubic-bezier(.05, .91, .75, .11) 1s;
}
.lettres-empty{
    color: black;
    opacity: 0;
    overflow:hidden;
    animation: empty 1s cubic-bezier(.05, .91, .75, .11) 2s;
}
/*
@keyframes color {
    0% {
        transform: translateY(20px);
        opacity: 1;
    }

    100% {
        transform: translateY(10px);
        opacity: 0.9;
    }
}
@keyframes empty {
    0% {
            transform: translateY(12px);
            opacity: 0.5;
        }
    
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
}